# .gitignore

# Ignore Python related files
*.pyc
*.pyo
*.pyd
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environment related directories
venv/
env/
ENV/

# Ignore data folder
/data/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints

# Ignore files related to PyCharm
.idea/

# Ignore files related to VS Code
.vscode/

# Ignore dist/ directory (used for package distributions)
dist/

# Ignore build/ directory (used for package building)
build/

# Ignore .eggs/ directory (used for package building)
.eggs/

# Ignore credentials
credentials.json